PORT = 
CORS_ORIGIN = //add your frontend URL here, e.g., http://localhost:3000
MONGODB_URI = //add your MongoDB connection string here
ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRY = 
REFRESH_TOKEN_SECRET = 
REFRESH_TOKEN_EXPIRY = 
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 